.portfolio{
    // background-color: theme-color("site-secondary");
    background-color: var(--site-portfolio-bg);
    width: 100%;

    &__container{
        .heading{
            h2{
                color: var(--site-portfolio-color);

                @media (min-width: 200px) and (max-width: 359px){
                    font-size: 1.5rem !important;  
                }

                @media (min-width: 360px) and (max-width: 575px){
                    font-size: 1.75rem !important;  
                }

                @media (min-width: 576px) and (max-width: 767px){
                    font-size: 2.1rem !important;  
                }

                @media (min-width: 768px) and (max-width: 880px){
                    font-size: 2.3rem !important;  
                }
            }

            p{
                color: var(--site-portfolio-tagline);

                @media (min-width: 200px) and (max-width: 359px){
                    font-size: .8rem !important;  
                }

                @media (min-width: 360px) and (max-width: 575px){
                    font-size: .9rem !important;  
                }

                @media (min-width: 576px) and (max-width: 767px){
                    font-size: 1rem !important;  
                }

                @media (min-width: 768px) and (max-width: 880px){
                    font-size: 1.15rem !important;  
                }
            }
        }
        &__row{
            margin-top: 4rem;
            
            &__col{
                
                &__content{
                    // padding: .5rem;
                    // border-radius: .4rem;
                    // border: .1rem solid theme-color("site-subtext");

                    &__img{
                        width: 100%;
                        border-radius: .2rem;

                    }

                    &__title{
                        font-size: 1rem !important;
                        text-align: center;
                        padding: .8rem .5rem;
                        font-weight: normal;

                        @media (min-width: 200px) and (max-width:359px){
                            font-size: .85rem !important;
                            padding: .6rem .2rem;
                        }

                        @media (min-width: 360px) and (max-width:575px){
                            font-size: 1.05rem !important;
                            padding: .75rem .2rem;
                        }

                        @media (min-width: 576px) and (max-width:767px){
                            font-size: 1.15rem !important;
                            padding: .9rem .2rem;
                        }

                    }

                    // &__title{
                    //     margin-top: 1rem;

                    // }

                    // &__desc{
                    //     margin-top: 0rem;

                    // }
                }
            }
        }
    }


}